/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family), sans-serif;
  background-image: var(--bg-img);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.header {
  background-color: white;
  inline-size: 48.5vw;
  block-size: 38vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--Themes-mainColor, rgba(0, 0, 0, 1));
  margin-block-start: 100px;
}

.header__logo {
  font-family: var(--font-family-accent), sans-serif;
  font-weight: var(--font-weight-normal);
  font-size: 65px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: bottom;
  text-transform: uppercase;
}

.header__title {
  font-family: var(--font-family-accent), sans-serif;
  font-weight: var(--font-weight-normal);
  font-size: 23px;
  line-height: 100%;
  text-transform: uppercase;
}

.main {
  inline-size: 48.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.section {
  min-block-size: 99vh;
  background-color: white;
  border: 2px solid var(--Themes-mainColor, rgba(0, 0, 0, 1));
  object-fit: cover;
  object-position: center;
}
.section__title {
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  padding: 10px 15px;
}

.section__img-leabl {
  position: relative;
}

.section__leabl {
  position: absolute;
  top: 22px;
  right: 22px;
  mix-blend-mode: hard-light;
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-normal);
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
}

@supports (
  (text-stroke: 1px var(--text-stroke)) or
    (-webkit-text-stroke: 1px var(--text-stroke))
) {
  .section__leabl {
    -webkit-text-stroke: 1px var(--text-stroke);
    text-stroke: 1px var(--text-stroke);
    text-shadow: none;
  }
}

.section__img {
  width: 100%;
}

.section__img-filter-blur {
  filter: blur(2px) hue-rotate(90deg);
}

.section__img-filter-sepia {
  filter: sepia(50);
}

.section__img-filter-brightness {
  filter: brightness(150%);
}

.section__img-filter-contrast {
  filter: contrast(200%);
}

.section__img-filter-opacity {
  filter: opacity(80%);
}

.section__img-filter-grayscale {
  filter: grayscale(90%);
}

.section__img-filter-saturate {
  filter: saturate(150%);
}

.section__img-filter-hue-rotate {
  filter: hue-rotate(90deg);
}

.section__content {
  display: flex;
  flex-direction: column;
  gap: var(--adaptive-gap);
  padding: 20px var(--adaptive-gap) 23px;
}

.section__text {
  font-weight: var(--font-weight-normal);
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0%;
  justify-self: start;
  text-shadow: 1px 1px purple;
}

.button {
  background-color: white;
  border: 2px solid var(--Themes-mainColor, rgba(0, 0, 0, 1));
}

.section__button {
  align-self: end;
  display: flex;
  gap: 5px;
}

.card__icon-button {
  border: none;
  padding: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--color-accent);
  transition: 0.3s ease;
}

.card__like-button {
  width: 131px;
  height: 40px;
  position: relative;
  overflow: hidden;
  padding: 0;
}

.button__text {
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-normal);
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
  color: white;
  z-index: 1;
}

.dialog__icon-floppy {
  width: 93%;
  height: 79%;
}

.button__icon-floppy {
  mix-blend-mode: difference;
  color: white;
  z-index: 1;
}

.button-save {
  position: relative;
  overflow: hidden;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 20px 15px;
  inline-size: clamp(310px, 82%, 335px);
}

.button-save:focus,
.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--color-accent);
}

.button-save::after,
.card__like-button::after {
  content: "";
  background-color: #fff;
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
}

.button-save:hover::after,
.card__like-button:hover::after {
  transition: 0.5s ease-in-out;
  mix-blend-mode: difference;
  transform: translateX(0);
}

.dialog {
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 2fr 1fr;
  column-gap: 12px;
  row-gap: 15px;
  background-color: white;
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-normal);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  padding: 28px 29px;
  max-inline-size: clamp(341px, 80%, 353px);
  block-size: 191px;
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.dialog__content {
  gap: 20px;
  width: 100%;
}

.dialog__text {
  justify-self: start;
}
.dialog__button {
  grid-column: span 2;
  grid-row: 2;
  padding: 9px 17px;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

body:has(dialog[open]) {
  overflow: hidden;
}

@media (width <= 375px) {
  .header {
    inline-size: 100vw;
    block-size: 64vh;
  }

  .header__logo {
    font-size: 3rem;
  }

  .header__title {
    font-size: 0.9em;
  }

  .main {
    inline-size: 100vw;
  }

  .section__title {
    padding: 5px 10px;
    line-height: 1.2;
  }

  .section__img {
    inline-size: 100%;
    block-size: 375px;
  }

  .button-save {
    flex-direction: column;
    gap: 13px;
    padding: 12px;
  }

  .button__icon-floppy {
    width: 45px;
    height: 30px;
  }
}
